:root {
    --header-height: 64px;
    --white-color: #f2f2f2;
    --light-grey-color: #616161;
    --dary-grey-color: #333;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: var(--white-color);
}
::-webkit-scrollbar-thumb {
    background: var(--dary-grey-color);
    border: 1px solid var(--white-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--light-grey-color);
}
:target {
    background-color: rgba(0, 0, 0, .05)
}
* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    background-color: var(--white-color);
}
nav {
    height: 100%;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    color: var(--dary-grey-color);
    font-size: 2.5rem;
    text-align: center;
    padding: 1em;
}
.nav-home {
    color: var(--light-grey-color);
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--dary-grey-color);
    writing-mode: vertical-lr;
    border-left: 1px solid var(--white-color);
    border-right: 1px solid var(--white-color);
    border-top: 1px solid var(--white-color);
    outline: solid 1px var(--white-color);
    outline-offset: -1px;
    transition:
        background-color 250ms ease,
        color 250ms ease,
        border-bottom 250ms ease,
        outline-offset 250ms ease,
        outline-width 250ms ease;
}
.nav-home:hover {
    background-color: var(--dary-grey-color);
    border-bottom: 1px solid var(--white-color);
    outline-offset: -6px;
    outline-width: 6px;
}
.nav-home:hover .home-link {
    color: var(--white-color);
}
.nav-links {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--white-color);
}
.nav-links a {
    outline: solid 1px var(--white-color);
    transition:
        background-color 250ms ease,
        color 250ms ease,
        outline-offset 250ms ease,
        outline-width 250ms ease;
}
.nav-links a:hover{
    background-color: var(--light-grey-color);
    color: var(--white-color);
    outline-offset: -6px;
    outline-width: 6px;
}
.nav-links a:focus {
    background-color: var(--light-grey-color);
    color: var(--white-color);
    outline-offset: -6px;
    outline-width: 6px;
}
body {
    background-image: linear-gradient(45deg,#2e3234,#242728);
    height: 100%;
    width: 100%;
}
.main-container {
    height: calc(100vh);
    width: 100%;
    padding-left: 140px;
    color: var(--white-color);
}
.about-title {
    height: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-title h1 {
    font-size: 10rem;
    text-align: center;
}
.about-desc {
    height: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-desc p {
    font-size: 3rem;
    line-height: 5rem;
}
.about-icons {
    height: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-icons a {
    color: var(--white-color);
    text-decoration: none;
}
.about-icons a:hover .icon, a:active .icon {
    font-size: 9rem;
}
.icon {
    font-size: 6rem;
    padding: 1em;
}
.divider {
    border-bottom: 1px solid var(--white-color);
}
#portfolio {
    display: flex;
}
.portfolio-divider {
    width: 50%;
    height: 100%;
    display: inline;
}
.portfolio-divider:first-of-type {
    border-right: 1px solid var(--white-color);
}
.portfolio-divider h2 {
    font-size: 5rem;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-divider p {
    font-size: 2rem;
}
.divider-grid {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    padding: 0 2rem 2rem;
}
.divider-grid a {
    text-decoration: none;
    color: inherit;
}
.portfolio-item {
    place-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem;
    outline: 1rem solid rgba(0, 0, 0, 0);
    outline-offset: -.5rem;
    transition: outline 300ms ease;
}
.portfolio-item:hover {
    border: 1rem solid var(--white-color);
    outline: 1px solid var(--white-color);
}
.portfolio-item h3 {
    font-size: 3rem;
    margin-bottom: .5rem;
}
.has-item h3 {
    text-shadow:
    -1px -1px 0px var(--dary-grey-color),
    -1px 1px 0px var(--dary-grey-color),
    1px -1px 0px var(--dary-grey-color),
    1px 1px 0px var(--dary-grey-color);
}
.has-item p {
    font-size: 2rem;
    color: var(--white-color);
    text-shadow:
    -1px -1px 0px var(--light-grey-color),
    -1px 1px 0px var(--light-grey-color),
    1px -1px 0px var(--light-grey-color),
    1px 1px 0px var(--light-grey-color);
}
.champion {
    background: url("champion_snorkeling.jpg") center;
    background-size: cover;
    border-radius: 1px;
    border: 0;
}
#contact {
    display: grid;
    place-items: center;
}
#contact p {
    font-size: 5rem;
}